<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleafe.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Стартуем!</title>
</head>
<body>

<div align="center" style="background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);height: 100vh;">
    <h1 class="text-center fs-1 text-decoration-underline" style="margin: 0 auto 120px;padding-top: 50px;">Добро пожаловать!</h1>
    <br>

    <h2><a class="alert-link" style="letter-spacing: 2px;color: #15202a;font-size: 28px;" th:href="@{/login}">Aвторизация</a></h2>
</div>

</body>
</html>